In [1]:
import pandas as pd

from pathlib import Path

In [2]:
# ZUMA-7 RNA-seq TPM

zuma7_tpm = pd.read_csv(
    Path.home() / "data/zuma7_signatures_log2/rnaseq_screening_tpm.csv",
    index_col=0
    )
zuma7_tpm.head()

,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,LOC124904122,LOC124900215,LOC124904047,LOC124902611,LOC124902752,LOC105376520,LOC124904434,LOC118142757,CD45RO,CD45RABC
SM201-001,0.491837,0.0,37.958604,2.245506,14.123682,23.473791,7.584237,10.603787,38.625372,22.946835,...,25.973115,0.972511,0.0,0.0,1.070067,1.635720,0.000000,0.0,21.112801,29.226300
SM201-003,2.179757,0.0,22.210138,5.470210,2.654492,7.138751,10.946626,8.799853,22.992025,7.244921,...,0.000000,0.000000,0.0,0.0,0.000000,2.196816,0.902229,0.0,1.104988,29.035251
SM201-004,0.578250,0.0,24.886300,7.500091,6.865448,14.756054,14.792349,5.882403,12.616559,15.072851,...,35.811633,0.388322,0.0,0.0,1.248878,1.684719,0.000000,0.0,12.119540,39.554222
SM201-005,1.377382,0.0,31.539660,5.709230,9.848350,19.496712,20.764956,5.930379,78.027313,10.517359,...,0.000000,0.000000,0.0,0.0,0.000000,2.255914,0.000000,0.0,9.523671,0.000000
SM201-006,0.363267,0.0,28.740553,2.041204,22.658682,3.944359,8.908633,4.444313,4.711271,9.211118,...,8.627359,0.000000,0.0,0.0,0.000000,1.005038,0.000000,0.0,0.791246,21.329188

In [3]:
# RNA-seq metadata 
response = pd.read_csv(
    Path.home() / "data/zuma7_signatures_log2/rnaseq_screening_response.csv",
    index_col=0
    )
response.head()

,Core ID,LV8 Molecular Batch ID,Subject ID_old,Collection Date_old,Site ID_old,Visit_old,Treatment_Arm_01,Randomization_Date,Treatment_Start_Date 01,HDT_Date_01,...,Macrodissection (YES/NO),RNA Conc (ng/ul),Elution Vol (ul),RNA Vol used for testing (ul),Residual RNA (ul) based on the volume used for testing,Tested on NanoString Run#,Testing Status,Comments,Visit_formatted,Collection Date_formatted
SM201-001,SM201-001,N1800110-KTP-00001,107-002-001,2017-08-08 00:00:00,2,Screening,Axicabtagene Ciloleucel,2018-01-25 00:00:00,2018-02-19 00:00:00,.,...,NO,16.8,26,10,16.000000,Run-1,Completed,NaN,Screening,2017-08-08
SM201-003,SM201-003,N1800110-KTP-00003,107-002-002,2017-04-13 00:00:00,2,Screening,Axicabtagene Ciloleucel,2018-01-31 00:00:00,2018-02-26 00:00:00,.,...,NO,55.9,26,2.683363148479428,23.316637,Run-1,Completed,NaN,Screening,2017-04-13
SM201-004,SM201-004,N1800110-KTP-00004,107-005-001,2017-08-14 00:00:00,5,Screening,Standard of Care Therapy,2018-02-09 00:00:00,2018-02-15 00:00:00,.,...,NO,44.5,26,3.3707865168539324,22.629213,Run-1,Completed,NaN,Screening,2017-08-14
SM201-005,SM201-005,N1800110-KTP-00005,107-031-001,2018-04-03 00:00:00,31,Screening,Standard of Care Therapy,2018-03-30 00:00:00,2018-04-04 00:00:00,2018-06-13 00:00:00,...,YES,19.2,26,5,21.000000,Run-1,Completed,NaN,Screening,2018-04-03
SM201-006,SM201-006,N1800110-KTP-00006,107-019-002,2018-03-30 00:00:00,19,Screening,Standard of Care Therapy,2018-03-30 00:00:00,2018-03-31 00:00:00,.,...,NO,85.9,26,1.7462165308498252,24.253783,Run-1,Completed,NaN,Screening,2018-03-30

##### Dataformat:
https://github.com/digitalcytometry/ecotyper  
The expression matrix should be in the TPM or FPKM space for bulk RNA-seq and non-logarithmic (exponential) space for microarrays. It should have gene symbols on the first column and gene counts for each sample on the next columns. Column (sample) names should be unique. Also, we recommend that the column names do not contain special characters that are modified by the R function make.names, e.g. having digits at the beginning of the name or containing characters such as space, tab or -.

In [4]:
zuma7_tpm = zuma7_tpm.T.reset_index()
zuma7_tpm.head()

,index,SM201-001,SM201-003,SM201-004,SM201-005,SM201-006,SM201-007,SM201-008,SM201-010,SM201-012,...,SM201-362,SM201-363,SM201-364,SM201-365,SM201-366,SM201-368,SM201-370,SM201-373,SM201-375,SM201-377
0,TSPAN6,0.491837,2.179757,0.578250,1.377382,0.363267,0.347882,0.397045,0.322080,0.763500,...,0.372339,0.313189,0.272109,0.542107,0.271416,0.908039,0.668750,21.813536,0.762934,1.092354
1,TNMD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.373128,0.000000,0.000000
2,DPM1,37.958604,22.210138,24.886300,31.539660,28.740553,8.849050,20.505716,20.862916,23.598831,...,47.446082,39.976736,27.721150,32.869582,17.744461,19.048174,30.581954,58.396274,27.889739,31.217111
3,SCYL3,2.245506,5.470210,7.500091,5.709230,2.041204,2.133704,3.979049,3.457135,4.795700,...,4.354716,5.080633,4.552555,6.292499,5.416609,3.529254,4.956493,2.264835,6.018898,6.221829
4,C1orf112,14.123682,2.654492,6.865448,9.848350,22.658682,19.421649,4.748431,9.396876,15.549633,...,15.398473,20.522596,6.585069,17.265428,7.637424,7.474516,6.616284,12.231005,20.401616,14.900051

In [5]:
zuma7_tpm.rename(columns={"index": "GENES"}, inplace=True)
zuma7_tpm.head()

,GENES,SM201-001,SM201-003,SM201-004,SM201-005,SM201-006,SM201-007,SM201-008,SM201-010,SM201-012,...,SM201-362,SM201-363,SM201-364,SM201-365,SM201-366,SM201-368,SM201-370,SM201-373,SM201-375,SM201-377
0,TSPAN6,0.491837,2.179757,0.578250,1.377382,0.363267,0.347882,0.397045,0.322080,0.763500,...,0.372339,0.313189,0.272109,0.542107,0.271416,0.908039,0.668750,21.813536,0.762934,1.092354
1,TNMD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.373128,0.000000,0.000000
2,DPM1,37.958604,22.210138,24.886300,31.539660,28.740553,8.849050,20.505716,20.862916,23.598831,...,47.446082,39.976736,27.721150,32.869582,17.744461,19.048174,30.581954,58.396274,27.889739,31.217111
3,SCYL3,2.245506,5.470210,7.500091,5.709230,2.041204,2.133704,3.979049,3.457135,4.795700,...,4.354716,5.080633,4.552555,6.292499,5.416609,3.529254,4.956493,2.264835,6.018898,6.221829
4,C1orf112,14.123682,2.654492,6.865448,9.848350,22.658682,19.421649,4.748431,9.396876,15.549633,...,15.398473,20.522596,6.585069,17.265428,7.637424,7.474516,6.616284,12.231005,20.401616,14.900051

In [6]:
# check duplicate gene names
zuma7_tpm["GENES"].duplicated().any()

False

In [7]:
# subset for axicel and soc
axice_samples = response.loc[response["Actual Arm Code"]=="AXICEL"].index.tolist()
soc_samples = response.loc[response["Actual Arm Code"]=="SOC"].index.tolist()
len(axice_samples), len(soc_samples)

(124, 125)

In [8]:
axice_samples[:5]

['SM201-001', 'SM201-003', 'SM201-008', 'SM201-010', 'SM201-012']

In [9]:
axicel = zuma7_tpm[["GENES"]+axice_samples].copy()
soc = zuma7_tpm[["GENES"]+soc_samples].copy()
zuma7_tpm.shape, axicel.shape, soc.shape

((36082, 250), (36082, 125), (36082, 126))

In [10]:
axicel.head()

,GENES,SM201-001,SM201-003,SM201-008,SM201-010,SM201-012,SM201-013,SM201-014,SM201-016,SM201-018,...,SM201-344,SM201-349,SM201-358,SM201-363,SM201-364,SM201-365,SM201-366,SM201-370,SM201-375,SM201-377
0,TSPAN6,0.491837,2.179757,0.397045,0.322080,0.763500,0.486185,0.399924,0.302087,0.416867,...,0.367193,0.449863,0.097755,0.313189,0.272109,0.542107,0.271416,0.668750,0.762934,1.092354
1,TNMD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,DPM1,37.958604,22.210138,20.505716,20.862916,23.598831,21.194202,18.270514,25.114150,31.062217,...,28.698933,24.315338,19.057075,39.976736,27.721150,32.869582,17.744461,30.581954,27.889739,31.217111
3,SCYL3,2.245506,5.470210,3.979049,3.457135,4.795700,4.399244,3.523287,4.960295,5.203485,...,6.055387,6.103674,4.745075,5.080633,4.552555,6.292499,5.416609,4.956493,6.018898,6.221829
4,C1orf112,14.123682,2.654492,4.748431,9.396876,15.549633,23.877036,11.028098,10.743192,10.680606,...,11.345376,17.446136,16.027271,20.522596,6.585069,17.265428,7.637424,6.616284,20.401616,14.900051

In [11]:
soc.head()

,GENES,SM201-004,SM201-005,SM201-006,SM201-007,SM201-015,SM201-017,SM201-023,SM201-024,SM201-025,...,SM201-343-2,SM201-345,SM201-346,SM201-350-2,SM201-353,SM201-355,SM201-359,SM201-362,SM201-368,SM201-373
0,TSPAN6,0.578250,1.377382,0.363267,0.347882,0.391853,0.686326,0.523531,0.952899,3.453829,...,2.537447,1.140432,0.378552,1.424676,0.452411,4.085019,0.610259,0.372339,0.908039,21.813536
1,TNMD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.373128
2,DPM1,24.886300,31.539660,28.740553,8.849050,30.068462,26.281474,31.069089,37.700832,27.205765,...,32.088882,42.799217,27.161916,21.154025,29.569968,32.530701,34.980752,47.446082,19.048174,58.396274
3,SCYL3,7.500091,5.709230,2.041204,2.133704,7.315502,6.675841,4.056328,5.464520,4.363696,...,6.561339,8.755949,4.310988,7.837668,5.983204,6.562706,4.413462,4.354716,3.529254,2.264835
4,C1orf112,6.865448,9.848350,22.658682,19.421649,26.692202,11.350853,21.404952,11.732971,8.879804,...,32.904116,50.574459,15.886807,7.649213,9.513212,38.346220,18.768131,15.398473,7.474516,12.231005

In [12]:
# save
data_path = Path.home()/"data/bioinfo_sm207"
zuma7_tpm.to_csv(data_path/"zuma7_tpm.txt", sep="\t", index=False)
axicel.to_csv(data_path/"axicel_tpm.txt", sep="\t", index=False)
soc.to_csv(data_path/"soc_tpm.txt", sep="\t", index=False)

In [13]:
# RCHOP
rchop_meta = pd.read_csv(
    Path.home() / "data/zuma7_signatures_log2/rchop_meta.csv",
    index_col=0
    )
rchop_data_tpm = pd.read_csv(
    Path.home() / "data/zuma7_signatures_log2/rchop_data_tpm.csv",
    index_col=0
    )
rchop_data_tpm.head()

,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
DLBCL11537,12.874439,0.000000,344.662803,0.004226,0.027719,53.559462,0.004226,43.435459,30.193777,0.000000,...,28.523119,65.448064,2.587533,23.565521,44.072960,0.521032,44.564942,280.527985,105.174007,51.340300
DLBCL10477,2.317528,0.000000,193.954294,0.000000,0.000000,3.660599,0.000000,52.411678,68.358943,0.000000,...,69.941468,199.546444,6.079445,15.577241,56.684977,0.000000,13.783926,69.121708,48.259037,42.358231
DLBCL10471,16.520055,0.019025,469.066791,0.534624,0.000000,7.147302,0.000000,51.539718,23.641331,0.019025,...,62.069400,137.982585,3.749893,12.997517,51.218939,4.113166,23.428885,189.684896,54.179286,44.676178
DLBCL11186,39.236586,0.132964,276.923584,0.161636,0.000000,13.025615,0.075783,44.455621,27.086315,0.018608,...,17.770561,55.968812,2.105789,14.031379,34.128748,1.190483,33.728501,146.135647,39.867744,37.040807
DLBCL10542,15.608375,0.000000,146.026902,0.228039,0.000000,10.321789,0.000000,69.344710,19.024932,0.000000,...,35.017677,129.162720,3.010507,18.775569,31.644004,0.000000,12.671468,178.175084,33.149876,18.893279

In [14]:
rchop_meta.head()

,Gene Expression Subgroup,Gender,Age,PFS event,PFS time,B.cells_group,Plasma.cells_group,T.cells.CD8_group,T.cells.CD4_group,T.cells.follicular.helper_group,...,g.Neutrophils.LD_group,g.NK_group,g.pDCs_group,g.Plasmablasts_group,g.T.CD4.Memory_group,g.T.CD4.Naive_group,g.T.CD8.Memory_group,g.T.CD8.Naive_group,g.T.gd.non.Vd2_group,g.T.gd.Vd2_group
DLBCL11537,GCB,M,58.0,0.0,3.991786,S02,unassigned,S02,S03,S03,...,low,low,low,low,low,low,low,high,low,low
DLBCL10477,ABC,F,53.0,1.0,0.290212,S04,unassigned,unassigned,unassigned,unassigned,...,low,low,low,low,low,low,low,low,low,low
DLBCL10471,ABC,M,83.0,1.0,6.488706,S05,unassigned,S02,S03,S03,...,low,low,low,low,low,low,low,high,low,low
DLBCL11186,ABC,M,71.0,0.0,10.086242,S04,S01,S03,S03,S01,...,low,low,low,low,low,low,low,low,low,low
DLBCL10542,ABC,M,30.0,1.0,0.536619,S04,unassigned,unassigned,unassigned,unassigned,...,low,low,low,low,high,low,low,low,low,low

In [15]:
schmitz_index = rchop_meta.loc[rchop_meta["Actual Arm Code"]=="Schmitz"].index
reddy_index = rchop_meta.loc[rchop_meta["Actual Arm Code"]=="Reddy"].index

In [16]:
schmitz_tpm = rchop_data_tpm.loc[schmitz_index]
reddy_tpm = rchop_data_tpm.loc[reddy_index]
schmitz_tpm.shape, reddy_tpm.shape

((229, 17045), (522, 17045))

In [17]:
schmitz_tpm = schmitz_tpm.T.reset_index()
schmitz_tpm.rename(columns={"index": "GENES"}, inplace=True)

reddy_tpm = reddy_tpm.T.reset_index()
reddy_tpm.rename(columns={"index": "GENES"}, inplace=True)

In [18]:
schmitz_tpm.head()

,GENES,DLBCL11537,DLBCL10477,DLBCL10471,DLBCL11186,DLBCL10542,DLBCL11574,DLBCL10999,DLBCL11485,DLBCL11002,...,DLBCL11452,DLBCL10997,DLBCL11662,DLBCL11535,DLBCL11685,DLBCL10486,DLBCL11679,DLBCL10476,DLBCL10539,DLBCL10523
0,A1BG,12.874439,2.317528,16.520055,39.236586,15.608375,8.992170,19.338301,11.765627,20.778039,...,14.747764,35.307599,28.807565,8.513220,32.625633,19.446757,10.914094,19.684325,13.592278,9.237729
1,A1CF,0.000000,0.000000,0.019025,0.132964,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,A2M,344.662803,193.954294,469.066791,276.923584,146.026902,343.228439,114.828569,451.111111,58.155173,...,361.568152,118.103846,185.978345,298.707360,63.797109,710.225436,164.522964,40.647590,471.068143,255.674169
3,A2ML1,0.004226,0.000000,0.534624,0.161636,0.228039,0.303956,2.970162,0.126988,0.000000,...,0.041476,0.120097,0.000000,0.719514,0.000000,0.000000,0.655372,0.223961,0.356761,0.819471
4,A3GALT2,0.027719,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.139392,0.000000,0.711337

In [19]:
reddy_tpm.head()

,GENES,Reddy_3936,Reddy_3616,Reddy_2249,Reddy_3628,Reddy_3910,Reddy_2539,Reddy_3904,Reddy_3846,Reddy_2789,...,Reddy_2148,Reddy_3813,Reddy_3454,Reddy_2194,Reddy_2130,Reddy_3757,Reddy_3778,Reddy_2089,Reddy_3950,Reddy_3589
0,A1BG,0.829765,0.000000,0.000000,0.000000,1.003148,0.992208,1.395004,0.000000,0.271373,...,0.000000,0.642717,0.413581,0.305147,0.000000,0.000000,4.475637,0.000000,0.00000,7.562898
1,A1CF,0.073614,0.000000,0.000000,0.000000,1.139153,0.000000,0.000000,0.000000,0.016050,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
2,A2M,179.963177,32.957007,97.448792,75.260213,430.542187,24.112395,62.267222,17.317129,246.069240,...,60.992985,185.664303,144.654820,122.060817,190.879998,121.846699,114.741947,47.036759,91.99362,50.203687
3,A2ML1,12.280275,63.017408,17.404901,0.378306,0.028279,0.000000,0.000000,0.000000,0.114750,...,0.152672,0.000000,1.399056,0.000000,0.000000,0.290434,2.523356,96.545158,0.00000,0.000000
4,A3GALT2,1.155831,0.000000,0.000000,0.000000,0.931565,0.614270,0.647729,0.000000,0.168005,...,0.000000,1.044493,0.768136,0.425059,0.322460,0.000000,1.039065,2.795975,0.26639,0.000000

In [20]:
# save
schmitz_tpm.to_csv(data_path/"schmitz_tpm.txt", sep="\t", index=False)
reddy_tpm.to_csv(data_path/"reddy_tpm.txt", sep="\t", index=False)