In [1]:
import pandas as pd

from pathlib import Path

In [2]:
# ZUMA-7 RNA-seq TPM

zuma7_tpm = pd.read_csv(
    Path.home() / "data/zuma7_signatures_log2/rnaseq_screening_tpm.csv",
    index_col=0
    )
zuma7_tpm.head()

,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,LOC124904122,LOC124900215,LOC124904047,LOC124902611,LOC124902752,LOC105376520,LOC124904434,LOC118142757,CD45RO,CD45RABC
SM201-001,0.491837,0.0,37.958604,2.245506,14.123682,23.473791,7.584237,10.603787,38.625372,22.946835,...,25.973115,0.972511,0.0,0.0,1.070067,1.635720,0.000000,0.0,21.112801,29.226300
SM201-003,2.179757,0.0,22.210138,5.470210,2.654492,7.138751,10.946626,8.799853,22.992025,7.244921,...,0.000000,0.000000,0.0,0.0,0.000000,2.196816,0.902229,0.0,1.104988,29.035251
SM201-004,0.578250,0.0,24.886300,7.500091,6.865448,14.756054,14.792349,5.882403,12.616559,15.072851,...,35.811633,0.388322,0.0,0.0,1.248878,1.684719,0.000000,0.0,12.119540,39.554222
SM201-005,1.377382,0.0,31.539660,5.709230,9.848350,19.496712,20.764956,5.930379,78.027313,10.517359,...,0.000000,0.000000,0.0,0.0,0.000000,2.255914,0.000000,0.0,9.523671,0.000000
SM201-006,0.363267,0.0,28.740553,2.041204,22.658682,3.944359,8.908633,4.444313,4.711271,9.211118,...,8.627359,0.000000,0.0,0.0,0.000000,1.005038,0.000000,0.0,0.791246,21.329188

##### Dataformat:
https://github.com/digitalcytometry/ecotyper  
The expression matrix should be in the TPM or FPKM space for bulk RNA-seq and non-logarithmic (exponential) space for microarrays. It should have gene symbols on the first column and gene counts for each sample on the next columns. Column (sample) names should be unique. Also, we recommend that the column names do not contain special characters that are modified by the R function make.names, e.g. having digits at the beginning of the name or containing characters such as space, tab or -.

In [3]:
zuma7_tpm = zuma7_tpm.T.reset_index()
zuma7_tpm.head()

,index,SM201-001,SM201-003,SM201-004,SM201-005,SM201-006,SM201-007,SM201-008,SM201-010,SM201-012,...,SM201-362,SM201-363,SM201-364,SM201-365,SM201-366,SM201-368,SM201-370,SM201-373,SM201-375,SM201-377
0,TSPAN6,0.491837,2.179757,0.578250,1.377382,0.363267,0.347882,0.397045,0.322080,0.763500,...,0.372339,0.313189,0.272109,0.542107,0.271416,0.908039,0.668750,21.813536,0.762934,1.092354
1,TNMD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.373128,0.000000,0.000000
2,DPM1,37.958604,22.210138,24.886300,31.539660,28.740553,8.849050,20.505716,20.862916,23.598831,...,47.446082,39.976736,27.721150,32.869582,17.744461,19.048174,30.581954,58.396274,27.889739,31.217111
3,SCYL3,2.245506,5.470210,7.500091,5.709230,2.041204,2.133704,3.979049,3.457135,4.795700,...,4.354716,5.080633,4.552555,6.292499,5.416609,3.529254,4.956493,2.264835,6.018898,6.221829
4,C1orf112,14.123682,2.654492,6.865448,9.848350,22.658682,19.421649,4.748431,9.396876,15.549633,...,15.398473,20.522596,6.585069,17.265428,7.637424,7.474516,6.616284,12.231005,20.401616,14.900051

In [4]:
zuma7_tpm.rename(columns={"index": "GENES"}, inplace=True)

# replace "-"
zuma7_tpm.rename(columns=lambda c: c.replace("-", "_"), inplace=True)

zuma7_tpm.head()

,GENES,SM201_001,SM201_003,SM201_004,SM201_005,SM201_006,SM201_007,SM201_008,SM201_010,SM201_012,...,SM201_362,SM201_363,SM201_364,SM201_365,SM201_366,SM201_368,SM201_370,SM201_373,SM201_375,SM201_377
0,TSPAN6,0.491837,2.179757,0.578250,1.377382,0.363267,0.347882,0.397045,0.322080,0.763500,...,0.372339,0.313189,0.272109,0.542107,0.271416,0.908039,0.668750,21.813536,0.762934,1.092354
1,TNMD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.373128,0.000000,0.000000
2,DPM1,37.958604,22.210138,24.886300,31.539660,28.740553,8.849050,20.505716,20.862916,23.598831,...,47.446082,39.976736,27.721150,32.869582,17.744461,19.048174,30.581954,58.396274,27.889739,31.217111
3,SCYL3,2.245506,5.470210,7.500091,5.709230,2.041204,2.133704,3.979049,3.457135,4.795700,...,4.354716,5.080633,4.552555,6.292499,5.416609,3.529254,4.956493,2.264835,6.018898,6.221829
4,C1orf112,14.123682,2.654492,6.865448,9.848350,22.658682,19.421649,4.748431,9.396876,15.549633,...,15.398473,20.522596,6.585069,17.265428,7.637424,7.474516,6.616284,12.231005,20.401616,14.900051

In [5]:
# check duplicate gene names
zuma7_tpm["GENES"].duplicated().any()

False

In [6]:
# save
data_path = Path.home()/"data/bioinfo_sm207"
zuma7_tpm.to_csv(data_path/"zuma7_tpm.txt", sep="\t", index=False)

In [7]:
# RCHOP
rchop_meta = pd.read_csv(
    Path.home() / "data/zuma7_signatures_log2/rchop_meta.csv",
    index_col=0
    )
rchop_data_tpm = pd.read_csv(
    Path.home() / "data/zuma7_signatures_log2/rchop_data_tpm.csv",
    index_col=0
    )
rchop_data_tpm.head()

,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
DLBCL11537,12.874439,0.000000,344.662803,0.004226,0.027719,53.559462,0.004226,43.435459,30.193777,0.000000,...,28.523119,65.448064,2.587533,23.565521,44.072960,0.521032,44.564942,280.527985,105.174007,51.340300
DLBCL10477,2.317528,0.000000,193.954294,0.000000,0.000000,3.660599,0.000000,52.411678,68.358943,0.000000,...,69.941468,199.546444,6.079445,15.577241,56.684977,0.000000,13.783926,69.121708,48.259037,42.358231
DLBCL10471,16.520055,0.019025,469.066791,0.534624,0.000000,7.147302,0.000000,51.539718,23.641331,0.019025,...,62.069400,137.982585,3.749893,12.997517,51.218939,4.113166,23.428885,189.684896,54.179286,44.676178
DLBCL11186,39.236586,0.132964,276.923584,0.161636,0.000000,13.025615,0.075783,44.455621,27.086315,0.018608,...,17.770561,55.968812,2.105789,14.031379,34.128748,1.190483,33.728501,146.135647,39.867744,37.040807
DLBCL10542,15.608375,0.000000,146.026902,0.228039,0.000000,10.321789,0.000000,69.344710,19.024932,0.000000,...,35.017677,129.162720,3.010507,18.775569,31.644004,0.000000,12.671468,178.175084,33.149876,18.893279

In [8]:
rchop_meta.head()

,Gene Expression Subgroup,Gender,Age,PFS event,PFS time,B.cells_group,Plasma.cells_group,T.cells.CD8_group,T.cells.CD4_group,T.cells.follicular.helper_group,...,g.Neutrophils.LD_group,g.NK_group,g.pDCs_group,g.Plasmablasts_group,g.T.CD4.Memory_group,g.T.CD4.Naive_group,g.T.CD8.Memory_group,g.T.CD8.Naive_group,g.T.gd.non.Vd2_group,g.T.gd.Vd2_group
DLBCL11537,GCB,M,58.0,0.0,3.991786,S02,unassigned,S02,S03,S03,...,low,low,low,low,low,low,low,high,low,low
DLBCL10477,ABC,F,53.0,1.0,0.290212,S04,unassigned,unassigned,unassigned,unassigned,...,low,low,low,low,low,low,low,low,low,low
DLBCL10471,ABC,M,83.0,1.0,6.488706,S05,unassigned,S02,S03,S03,...,low,low,low,low,low,low,low,high,low,low
DLBCL11186,ABC,M,71.0,0.0,10.086242,S04,S01,S03,S03,S01,...,low,low,low,low,low,low,low,low,low,low
DLBCL10542,ABC,M,30.0,1.0,0.536619,S04,unassigned,unassigned,unassigned,unassigned,...,low,low,low,low,high,low,low,low,low,low

In [9]:
schmitz_index = rchop_meta.loc[rchop_meta["Actual Arm Code"]=="Schmitz"].index
reddy_index = rchop_meta.loc[rchop_meta["Actual Arm Code"]=="Reddy"].index

In [10]:
schmitz_tpm = rchop_data_tpm.loc[schmitz_index]
reddy_tpm = rchop_data_tpm.loc[reddy_index]
schmitz_tpm.shape, reddy_tpm.shape

((229, 17045), (522, 17045))

In [11]:
schmitz_tpm = schmitz_tpm.T.reset_index()
schmitz_tpm.rename(columns={"index": "GENES"}, inplace=True)

reddy_tpm = reddy_tpm.T.reset_index()
reddy_tpm.rename(columns={"index": "GENES"}, inplace=True)

In [12]:
schmitz_tpm.head()

,GENES,DLBCL11537,DLBCL10477,DLBCL10471,DLBCL11186,DLBCL10542,DLBCL11574,DLBCL10999,DLBCL11485,DLBCL11002,...,DLBCL11452,DLBCL10997,DLBCL11662,DLBCL11535,DLBCL11685,DLBCL10486,DLBCL11679,DLBCL10476,DLBCL10539,DLBCL10523
0,A1BG,12.874439,2.317528,16.520055,39.236586,15.608375,8.992170,19.338301,11.765627,20.778039,...,14.747764,35.307599,28.807565,8.513220,32.625633,19.446757,10.914094,19.684325,13.592278,9.237729
1,A1CF,0.000000,0.000000,0.019025,0.132964,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,A2M,344.662803,193.954294,469.066791,276.923584,146.026902,343.228439,114.828569,451.111111,58.155173,...,361.568152,118.103846,185.978345,298.707360,63.797109,710.225436,164.522964,40.647590,471.068143,255.674169
3,A2ML1,0.004226,0.000000,0.534624,0.161636,0.228039,0.303956,2.970162,0.126988,0.000000,...,0.041476,0.120097,0.000000,0.719514,0.000000,0.000000,0.655372,0.223961,0.356761,0.819471
4,A3GALT2,0.027719,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.139392,0.000000,0.711337

In [13]:
reddy_tpm.head()

,GENES,Reddy_3936,Reddy_3616,Reddy_2249,Reddy_3628,Reddy_3910,Reddy_2539,Reddy_3904,Reddy_3846,Reddy_2789,...,Reddy_2148,Reddy_3813,Reddy_3454,Reddy_2194,Reddy_2130,Reddy_3757,Reddy_3778,Reddy_2089,Reddy_3950,Reddy_3589
0,A1BG,0.829765,0.000000,0.000000,0.000000,1.003148,0.992208,1.395004,0.000000,0.271373,...,0.000000,0.642717,0.413581,0.305147,0.000000,0.000000,4.475637,0.000000,0.00000,7.562898
1,A1CF,0.073614,0.000000,0.000000,0.000000,1.139153,0.000000,0.000000,0.000000,0.016050,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
2,A2M,179.963177,32.957007,97.448792,75.260213,430.542187,24.112395,62.267222,17.317129,246.069240,...,60.992985,185.664303,144.654820,122.060817,190.879998,121.846699,114.741947,47.036759,91.99362,50.203687
3,A2ML1,12.280275,63.017408,17.404901,0.378306,0.028279,0.000000,0.000000,0.000000,0.114750,...,0.152672,0.000000,1.399056,0.000000,0.000000,0.290434,2.523356,96.545158,0.00000,0.000000
4,A3GALT2,1.155831,0.000000,0.000000,0.000000,0.931565,0.614270,0.647729,0.000000,0.168005,...,0.000000,1.044493,0.768136,0.425059,0.322460,0.000000,1.039065,2.795975,0.26639,0.000000

In [14]:
# save
schmitz_tpm.to_csv(data_path/"schmitz_tpm.txt", sep="\t", index=False)
reddy_tpm.to_csv(data_path/"reddy_tpm.txt", sep="\t", index=False)